---
import BaseLayout from '@/layouts/BaseLayout.astro';
---

<BaseLayout title="About me">
  <div class="page-content-inner">
    <h1 class="page-heading">About me</h1>

    <p>
      Hi!! My name is Natpakan, and I'm currently a second-year student in the Faculty of Engineering,
      Computer Engineering Department, at Chiang Mai University. I have a keen interest in Software
      development, artificial intelligence, and hardware engineering and am passionate about using my
      skills to create innovative solutions in the future.
    </p>

    <h2>Skill and Abilities</h2>
    <p>Programming: C++, Python, Java<br />
    Problem-Solving: Enjoy tackling challenges and finding creative solutions</p>

    <h2>Past Experiences</h2>
    <p>
      Although I am still in the learning phase, I have had opportunities to work on programming
      projects, or solving competitions, which have enhanced my understanding of computer engineering.
    </p>

    <h2>Aspirations and Goals</h2>
    <p>
      In the future, I aim to deepen my knowledge and skills in software dev, contributing to
      impactful technologies that shape the world.
    </p>
  </div>
</BaseLayout>
